@charset "utf-8";
/* CSS Document */

table.hovertable {
	font-family: 微软雅黑;
	font-size: 11px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	font-size:15px;
	background-color: #c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	text-align:center;
}
table.hovertable tr {
	background-color: #d4e3e5;
}
table.hovertable td {
	font-size:13px;
	text-align:center;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}